{% extends 'partials/base.html' %} 
{% load static %} 
{% block content %}

<!-- .navbar -->
<nav class="navbar navbar-toggleable-xl navbar-light bg-main">
	<div id="navbarNavDropdown ml-5" class="navbar-collapse collapse">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
			<a class="navbar-brand" href="#">
    			<img src={% static "resources/img/logo.svg"%} width="30" height="30" alt="">
  			</a>
		 </li>
		</ul>
		<ul class="navbar-nav mr-5">
			<li class="nav-item dropdown"> 
               <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      User
               </a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"> <a class="dropdown-item" href="#">Profile</a> <a class="dropdown-item" href="/user/logout">Logout</a> </div>
			</li>
		</ul>
	</div>
</nav>
<!-- /.navbar -->

{% block masonry %} 
{% endblock %}


<!-- JavaScript -->
<script src="{% static " vendors/jquery/dist/jquery.min.js "%}"></script>
<script src="{% static " vendors/bootstrap/dist/js/bootstrap.min.js "%}"></script> {% endblock %}