{% extends 'partials/base.html' %} 
{% load static %} 
{% block content %}

<!-- .navbar -->
<!--
<nav class="navbar navbar-toggleable-xl navbar-light bg-main">
	<div id="navbarNavDropdown ml-5" class="navbar-collapse collapse">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
			<a class="navbar-brand" href="#">
    			<img src={% static "resources/img/logo.svg"%} width="30" height="30" alt="">
  			</a>
		 </li>
		</ul>
		<ul class="navbar-nav mr-5">
			<li class="nav-item dropdown"> 
               <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      User
               </a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"> <a class="dropdown-item" href="#">Profile</a> <a class="dropdown-item" href="/user/logout">Logout</a> </div>
			</li>
		</ul>
	</div>
</nav>
-->
<nav class="navbar navbar-light bg-main">
		<div class="btn-group ml-auto">
			<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			User
			</button>
			<div class="dropdown-menu dropdown-menu-right">
				<a href="#" class="btn " role="button" aria-pressed="true">Profile</a>
				<a href="/user/logout" class="btn " role="button" aria-pressed="true">Logout</a>
			</div>
		</div>
</nav>

<div id="wrapper">
<!-- Left Sidebar Menu -->
<div id="sidebar-wrapper">
		<!-- The top part of the Sidebar menu -->
		<div id="sidebar-top">
			<ul id="sidebar-nav-top">
				<li> <a href="#">Issues</a> </li>
				<li> <a href="#">Referendums</a> </li>
				<li> <a href="#">Polls</a> </li>
				<li> <a href="#">Archive</a> </li>
			</ul>
		</div>
		<!-- The bottom part of the sidebar menu -->
		<div id="sidebar-bot">

		</div>
	</div>

	<ul class="activate-left-sidebar">
			<li class="top-bar"> <i id="menu-toggle"><a href="#menu-toggle" class="fa fa-bars fa-2x"></a></i> </li>
	</ul>
</div>
<!-- /.navbar -->

{% block masonry %} 
{% endblock %}

{% endblock %}