{% extends 'partials/base.html' %} 
{% load static %} 
{% block content %}

<!-- .navbar -->
<nav class="navbar navbar-toggleable-xl navbar-light bg-main">
	<div id="navbarNavDropdown ml-5" class="navbar-collapse collapse">
		<div class="container">
			<a class="navbar-brand" href="/eisegesis/">
    			<img src="{% static "resources/img/x.svg"%}" width="30" height="30" alt="">
  			</a>		
		</div>
	</div>
</nav>
<!-- /.navbar -->

{% block masonry %} 
{% endblock %}

{% block proposal %}
{% endblock%}

<!-- Additional Scripts -->

<script src="{% static "vendors/chartist/js/chartist.min.js"%}"></script>
{% endblock %}
