/* This creates the backround color and a frame around the elements */

.navbar-fixed-top {
    background-color: #374A5D;
    padding-top: 10px;
}


/* This makes the lists (.li) to be horizontal instead of vertical */

.top-bar {
    display: inline;
    margin-right: 20px;
}

ul.activate-left-sidebar li a {
    text-decoration: none;
    list-style-type: none;
}


/* Wherever these tags exist the appropriate icon will be present */

li .fa-bars {
    color: #D2D2D2;
}

li .fa-user {
    color: #D2D2D2;
}

li .fa-bell-o {
    color: #D2D2D2;
}

li .fa-cog {
    color: #D2D2D2;
}