[Desktop Entry]
Name=1 Epitome Autoinstaller (red hat)
Comment=Epitome Autoinstaller (red hat)
Encoding=UTF-8
Exec=bash -c 'rm -rf ~/Epitome/ && rm -rf ~/Desktop/epitome/ && rm -rf ~/EpitomeVE && sudo dnf install git python python-virtualenv python-pip && cd ~/Desktop && git clone https://github.com/TheDemocracyFoundation/epitome.git && cd ~/Desktop/epitome && git checkout development && sudo pip3 install --upgrade pip setuptools && cd ~ && mkdir EpitomeVE && python -m venv EpitomeVE/ && source ~/EpitomeVE/bin/activate && pip3 install --upgrade pip && pip3 install django && django-admin startproject Epitome && cd ~/Desktop/epitome/ && cp -rf * ~/Epitome && rm -rf ~/Desktop/epitome/ && cd ~/Epitome && python manage.py makemigrations Eisegesis && python manage.py makemigrations Agora && python manage.py makemigrations Propylaea && python manage.py migrate && exit;$SHELL'
Icon=utilities-terminal
Terminal=true
Type=Application
Name[en_US]=1 Epitome Autoinstaller (red hat).desktop
