{% load static %}
<!DOCTYPE html>
<html>

<head>
	<!-- Meta Data -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<title></title>
	<!-- Stylesheets -->
	<link rel="stylesheet" href="{% static "css/app.min.css"%}">
</head>
<body>
	<div class="container-fluid bg-main">
		<div class="bg-main" style="height: 100vh">
			<div class="jumbotron">
        		<h1 class="display-2">Registration failed...</h1>
        		<p class="lead">Something went wrong... You are not registered. You can either try again or contact the administrator.</p>
        		<p><a class="btn btn-lg btn-danger" href="login" role="button">Try again</a><a class="btn btn-lg btn-warning" href="login" role="button">Contact Administrator</a></p>
    	</div>
		</div>
   	</div>
</body>
</html>