{% extends 'partials/base.html' %}
	{% load static %}
	{% block content %}
  
	<div class="container-fluid bg-main">
		<div class="bg-main" style="height: 100vh">
			<div class="jumbotron">
        		<h1 class="display-2">Registration failed...</h1>
        		<p class="lead">Something went wrong... You are not registered. You can either try again or contact the administrator.</p>
        		<p><a class="btn btn-lg btn-danger" href="login" role="button">Try again</a><a class="btn btn-lg btn-warning" href="login" role="button">Contact Administrator</a></p>
    	</div>
		</div>
   	</div>
  	{% endblock %}