<!DOCTYPE html>

{% load staticfiles %}

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <!-- CSS Files. ONE for EACH element during Development stage. ONE for ALL elements during production stage -->
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Advent+Pro|Open+Sans+Condensed:300&subset=greek,latin' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static "css/fonts.css" %}">
    <!-- Fixed Top Navigation Bar -->
    <link rel="stylesheet" type="text/css" href="{% static "css/navbar.css" %}">
    <!-- Fixed footer -->
    <link rel="stylesheet" type="text/css" href="{% static "css/footer.css" %}">

    <link rel="stylesheet" type="text/css" href="{% static "css/login.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/register.css" %}">
    <!-- JS Files. For custom js files use ONE for EACH element during Development stage. ONE for ALL elements during production stage -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/jquery-2.2.2.min.js" %}"></script>
    <script src="{% static "js/login-form-selector.js" %}"></script>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
</head>

<body>
    <!-- The page wrapper -->
    <div id="wrapper">

        <!-- The NavBar is in fact a simple div. The "nav" style  from bootstrap is not used and will be removed from -->
        <!-- the production release.The navbar contains two divs and they are positioned using bootstraps "pull-left" -->
        <!-- and "pull-right" classes. -->
        <div class="col-md-12 navbar-fixed-top">

            <!-- These are the user buttons -->
            <ul class="pull-right">
                <li class="top-bar">
                    <i class="fa fa-cog fa-2x"></i>
                </li>
            </ul>
        </div>



        <div id="page1" class="content">
            <form class="form-login" method="post" action="/user/login/">

                <div class="form-log-in-with-email">

                    <div class="form-white-background">

                        <div class="form-title-row">
                            <h1>Log in</h1>
                        </div>
                        {% csrf_token %}
            
                         <div class="form-row">
                            <label>
                                <!--<span>Email</span>-->
                                <span>Username</span>
                                <!--<input type="email" name="email">-->
                                <input type="text" name="username">
                            </label>
                        </div>

                        <div class="form-row">
                            <label>
                                <span>Password</span>
                                <input type="password" name="password">
                            </label>
                        </div> 

                        <div class="form-row">
                            <button type="submit">Log in</button>
                        </div>

                    </div>

                    <a href="#" class="form-forgotten-password">Forgotten password &middot;</a>
     
                    <a href="#page2" class="link form-create-an-account" data-page="page2">Create an account &rarr;</a>
              
                </div>

            </form>
        </div>





        <div id="page2" class="content">
            <form class="form-register" method="post" action="/user/signup/">

                <div class="form-register-with-email">

                    <div class="form-white-background">

                        <div class="form-title-row">
                            <h1>Create an account</h1>
                        </div>
                        {% csrf_token %}

                        <div class="form-row">
                            <label>
                                <span>Name</span>
                                <!--<input type="text" name="name">-->
                                {{ SignUpForm.username }}
                            </label>
                        </div>

                        <div class="form-row">
                            <label>
                                <span>Email</span>
                                <!--<input type="email" name="email">-->
                                {{ SignUpForm.email }}
                            </label>
                        </div>

                        <div class="form-row">
                            <label>
                                <span>Password</span>
                                <!--<input type="password" name="password">-->
                                {{ SignUpForm.password }}
                            </label>
                        </div>

                        <!--<div class="form-row">
                            <label class="form-checkbox">
                                <input type="checkbox" name="checkbox" checked>
                                <span>I agree to the <a href="#">terms and conditions</a></span>
                            </label>
                        </div>-->

                        <div class="form-row">
                            <button type="submit">Register</button>
                        </div>

                    </div>

                    <a href="#page1" class="link form-log-in-with-existing" data-page="page1">Already have an account? Login here &rarr;</a>
                </div>

            </form>
        </div>




        <!-- The Footer exists but for now contains no elements 
        <div class="footer">
            <p class="pull-right">Version: 0.0.5</p>
        </div>
    </div>
-->

        <script>
            var content = $('.content')
                , links = $('.link');

            links.on('click', function (e) {
                e.preventDefault();
                content.hide(); // hide all content blocks
                $($(this).attr('href')).show(); // show targetted content
            })
        </script>

</body>

</html>
