/*
input, textarea{
    color: #FFF;
}
*/

.poll-form{
    border-style: ridge;
    border-width: 1px;
    border-color: $gray-400;
    border-radius: 5px;
    clear: both;
    overflow: hidden;
    min-height: 10px;
}
