
body {
  overflow-x: hidden;
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  
  &.toggled {
    padding-left: 250px;
    
    #sidebar-wrapper {
      width: 250px;
    }
    
    #page-content-wrapper {
      position: absolute;
      margin-right: -250px;
    }
  }
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: $gray-900;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}


#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#sidebar-brand {
  height: $nav-link-height + $nav-link-padding-y * 2;
  background-color: $tertiary;
  padding: .8em;

  a {
    height: 2.1em;
  }

  &.expand {
    height: 200;
  }
}

.sidebar-nav {
  position: absolute;
  top: 190;
  width: 250px;
  margin: 0;
  padding: 0px;
  list-style: none;
  
  li {
    text-indent: 20px;
    line-height: 40px;
    
    a {
      display: block;
      text-decoration: none;
      color: #999999;
    }
    
    a:hover {
      text-decoration: none;
      color: #fff;
      background: rgba(255, 255, 255, 0.2);
    }
    
    a:active{
      text-decoration: none;
    }
    
    a:focus{
      text-decoration: none;
    }
    
    &.sidebar-brand {
      height: $navbar-brand-height + $navbar-brand-padding-y*1.33 + $nav-link-height;
      background-color: $gray-800;
      font-size: 18px;
      line-height: 60px;
      padding:20px;
      
      a {
        color: #999999;
      }
      
      a:hover {
        color: #fff;
        background: none;
      }
    }
  }
}

/*
@media(min-width:768px) {
  #wrapper {
    padding-left: 0;
    
    &.toggled {
      padding-left: 250px;
      
      #sidebar-wrapper {
        width: 250px;
      }
      
      #page-content-wrapper {
        position: relative;
        margin-right: 0;
      }
    }
  }
  
   #sidebar-wrapper {
    width: 0;
  }
  
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
}
*/