#sidebar-wrapper{
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 10;
	left:0;
	overflow-x: hidden;
	transition: 0.5s;
	background: $gray-900;
}

#wrapper{
	transition: margin-left .5s;
}

.sidebar-brand {
	min-height: $nav-link-height + $nav-link-padding-y * 2.2;
	background-color: $tertiary;
	padding: .6em;
  
	a {
	  height: 2.5em;
	}
  
	.hide {
	  display: none;
	}
  }

.sidebar-nav {
  width: 250px;
  margin: 0;
  padding: 0px;
  list-style: none;


  
  li {
    text-indent: 20px;
    line-height: 40px;
    
    a {
      display: block;
      text-decoration: none;
      color: #999999;
    }
    
    a:hover {
      text-decoration: none;
      color: #fff;
      background: rgba(255, 255, 255, 0.2);
    }
    
    a:active{
      text-decoration: none;
    }
    
    a:focus{
      text-decoration: none;
    }
    
    &.sidebar-brand {
      height: $navbar-brand-height + $navbar-brand-padding-y*1.33 + $nav-link-height;
      background-color: $gray-800;
      font-size: 18px;
      line-height: 60px;
      padding:20px;
      clear: both;
      
      a {
        color: #999999;
      }
      
      a:hover {
        color: #fff;
        background: none;
      }
    }
  }
}