[Desktop Entry]
Name=2 (optional) Epitome Run Gunicorn WSGI server
Comment=Epitome Run Gunicorn WSGI server
Encoding=UTF-8
Exec=bash -c 'cd $(dirname %k)/Scripts && chmod a+x gunicorn.sh && ./gunicorn.sh;$SHELL'
Icon=utilities-terminal
Terminal=true
Type=Application
Name[en_AU]=2 (optional) Epitome Run Gunicorn WSGI server.desktop
