[Desktop Entry]
Name=2 Epitome Run Dev Server
Comment=Epitome Run Dev Server
Encoding=UTF-8
Exec=bash -c 'cd $(dirname %k)/Scripts && chmod a+x 2devserver.sh && ./2devserver.sh;$SHELL'
Icon=utilities-terminal
Terminal=true
Type=Application
Name[en_AU]=2 Epitome Run Dev Server.desktop
