[Desktop Entry]
Name=4 Epitome Open Admin
Comment=Epitome Open Admin
Encoding=UTF-8
URL=http://localhost:8000/admin/
Icon=text-html
Type=Link
Name[en_AU]=4 Epitome Open Admin.desktop
