[Desktop Entry]
Name=5 Open Epitome
Comment=Open Epitome
Encoding=UTF-8
Exec=bash -c 'cd $(dirname %k)/Scripts && chmod a+x openepitome.sh && ./openepitome.sh;$SHELL'
Icon=utilities-terminal
Terminal=true
Type=Application
Name[en_AU]=5 Open Epitome.desktop
