[Desktop Entry]
Name=5 Open Epitome
Comment=Open Epitome
Encoding=UTF-8
URL=http://localhost:8000/user/login
Icon=text-html
Type=Link
Name[en_AU]=5 Open Epitome.desktop
