[Desktop Entry]
Name=Epitome Uninstaller
Comment=Epitome Uninstaller
Encoding=UTF-8
Exec=bash -c 'cd $(dirname %k)/Scripts && chmod a+x epitomeuninstall.sh && ./epitomeuninstall.sh && exit;$SHELL'
Icon=utilities-terminal
Terminal=true
Type=Application
Name[en_US]=Epitome Uninstaller.desktop
