{% extends '_base.html' %} {% load static %} {% block body %}
<div id="wrapper">
    {% include '_sidebar.html' %} {% include '_navbar.html' %}

    <div class="container mt-5">
        <div class="row">
            <div class="col-4">
                <ul class="list-unstyled">
                    <li>
                        <h5>Welcome <b>{{ request.user.username }}</b></h5>
                    </li>
                </ul>
            </div>
            <div class="col-4">
                <ul class="list-unstyled text-center">
                </ul>
            </div>
            <div class="col-4">
                <ul class="list-unstyled text-right">
                    <li>
                        <h5>{% now "jS F Y" %}</h5>
                    </li>
                </ul>
            </div>
        </div>


        <div class="row justify-content-md-center mt-2">

            <div class="col-sm-12 col-md-6">
                <div class="card">
                    <div class="card-header">
                        <a href="/demoscopesis/"><h4>Polls</h4></a>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled">
                            <li class="">
                                <span class="badge badge-success badge-pill">{{ request.activeCount }}</span>
                                Open Polls
                            </li>
                            <li class="">
                                <span class="badge badge-warning badge-pill">{{ request.inactiveCount }}</span>
                                Closed Polls
                            </li>
                        </ul>
                    </div>
                    <div id="polls-holder" class="mb-5">
                        <canvas id="polls-chart"></canvas>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

{% endblock %}
{% block scripts %}
<script src="{% static "js/jquery-3.3.1.min.js"%}"></script>
<script src="{% static "js/jquery.formset.min.js"%}"></script>
<script src="{% static "js/bootstrap.bundle.min.js"%}"></script>
<script src="{% static "js/chart.bundle.min.js"%}"></script>
<script src="{% static "js/sidebar.js"%}"></script>
<script>
    var pollActivityConfiguration = {
        type: 'doughnut',
        data: {
            datasets: [{
                data: [
                    {{request.activeCount}},
                    {{request.inactiveCount}}
                ],
                backgroundColor: [
                    'rgb(46, 179, 144)',
                    'rgb(243, 156, 18)'
                ],
                label: 'Dataset 1'
            }]
        },
        options: {
            responsive: true,
            animation: {
                animateScale: true,
                animateRotate: true
            }
        }
    };

    window.onload = function () {
        var polls = document.getElementById('polls-chart').getContext('2d');
        window.myDoughnut = new Chart(polls, pollActivityConfiguration);
    };
</script>
{% endblock %}
