{% load static %}
<div id="sidebar-wrapper">
    <div class="sidebar-brand" id="sidebar-brand">
            <button class="btn btn-primary btn-block" onclick="$( '.menu' ).slideToggle();" id="newbutton"><b>Create</b></button>
            <div class="menu hide mt-2">
                <a class="btn btn-info btn-block text-white" href="/demoscopesis/create/" id="newpoll" role="button"><b>New Poll</b></a>
                <a class="btn btn-info btn-block text-white" href="/demoscopesis/create/" id="newissue" role="button"><b>New Issue</b></a>
            </div>
    </div>

    <ul class="sidebar-nav">
        <li></li>
        <li class="mt-3">
            <b><a class="mdi mdi-poll mdi-24px" href="/demoscopesis/">Polls</a></b>
        </li>
        <li>
            <b><a class="mdi mdi-alert mdi-24px" href="#">Issues</a></b>
        </li>
        <li>
            <b><a class="mdi mdi-message-bulleted mdi-24px" href="#">Proposals</a></b>
        </li>
        <li>
            <b><a class="mdi mdi-archive mdi-24px" href="#">Archive</a></b>
        </li>
    </ul>
</div>