{% load static %}
<!DOCTYPE html>
<html>
    <head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width,initial-scale=1">
          <title>Epitome</title>
          <link rel="stylesheet" href="{% static "css/app.min.css"%}" type="text/css">
    </head>
    <body>
        <div id="wrapper">            
            <nav class="navbar navbar-expand navbar-dark bg-primary">
                <a class="navbar-brand float-left" href="javascript:history.back()">
                    <img class ="text-white" src="{% static "img/x.svg"%}" width="30" height="30" alt="a">
                </a>
                <ul class="navbar-nav w-100">
                  <li class="nav-item dropdown ml-auto">
                    <a class="nav-link dropdown-toggle mdi mdi-account-box" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="">User </a>
                        <a class="dropdown-item" href="/user/logout">Logout</a>
                    </div>
                  </li>
                </ul>  
            </nav>
            <div id="page-content-wrapper">
                <div class="container">
                    <form action="../submit" id="formentry" class="poll-form" role="form" data-parsley-validate novalidate>
						{% csrf_token %}
                        <div class="container-fluid shadow">
                            <div class="row">            
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label control-label-left col-sm-3" for="field2">Title</label>
                                        <div id="title" class="controls">
                                            {{ PollForm.PL_TITLE }} 
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label control-label-left col-sm-3" for="field2">Short Body</label>
                                        <div id="shBody" class="controls">
                                            {{ PollForm.PL_SHRBODY }} 
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label control-label-left col-sm-3" for="field2">Body</label>
                                        <div id="body" class="controls">
                                            {{ PollForm.PL_BODY }} 
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label control-label-left col-sm-3" for="field2">Start Date</label>
                                        <div id="startDt" class="controls">
                                            {{ PollForm.PL_STARTDT }} 
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label control-label-left col-sm-3" for="field2">End Date</label>
                                        <div id="endDt" class="controls">
                                            {{ PollForm.PL_ENDDT }} 
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label control-label-left col-sm-3" for="field2">Code</label>
                                        <div id="code" class="controls">
                                            {{ PollForm.PL_CODE }} 
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label control-label-left col-sm-3" for="field2">Category</label>
                                        <div id="category" class="controls">
                                            {{ PollForm.POLLCAT }} 
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label control-label-left col-sm-3" for="field2">Voting Choices</label>
                                        <div id="choice" class="controls">
                                            {{ PollChoiceForm.PC_CHOICE }} 
                                        </div>
                                    </div>
                    
                                    <div class="form-group text-center">
                                        <div class="form-group text-center">
                                            <button id="submit" type="button" class="btn btn-default">Submit</button>
                                            <button id="cancel" type="button" class="btn btn-default">Cancel</button>
                                            <button id="add" type="button" class="btn btn-success" onclick="addOption()">Add Option</button>
                                            <button id="add" type="button" class="btn btn-success" onclick="removeOption()">Remove Option</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>                
                </div>
            </div>
        </div>
        <script src="{% static "js/app.min.js"%}"></script>          
        <script>
            $(function () {
                $('[data-toggle="popover"]').popover()
            })
            function addOption(){
                var group = document.getElementById("choice");
                var content = document.createRange().createContextualFragment(`<input class="form-control mt-2" type="text">`)
                group.appendChild(content)
            }

            function removeOption(){
                var parent = document.getElementById("choice");
                if (parent.children.length > 1){
                    parent.removeChild(parent.lastChild);
                }
            }
        </script>
    </body>
</html>