{% extends '_base.html' %} 
{% load static %} 

{% block body %}
        <div id="wrapper">

    {% include '_sidebar.html' %}

    {% include '_navbar.html' %}

            <div class="mt-5" id="page-content-wrapper">
                <div class="container">

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Too few options!</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                            You need at least 2 options for people to vote on.
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                        </div>
                    </div>

                    <div class="my-3">
                        <h2 class="text-center"><b>Poll Creation</b></h2>
                    </div>

                    <form id="form-body" action="{% url 'Demoscopesis:createPoll' %}" method="post" class="poll-form" role="form" data-parsley-validate novalidate>
						{% csrf_token %}
                        <div class="container-fluid shadow py-5">
                            <div class="row">            
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label control-label-left col-sm-3" for="field2"><b>Title</b></label>
                                        <div id="title" class="controls">
                                            {{ PollForm.PL_TITLE }}
                                            <p id="title-counter" class="text-right"></p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label control-label-left col-sm-3" for="field2"><b>Short Body</b></label>
                                        <div id="shBody" class="controls">
                                            {{ PollForm.PL_SHRBODY }}
                                            <p id="short-body-counter" class="text-right"></p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label control-label-left col-sm-3" for="field2"><b>Body</b></label>
                                        <div id="body" class="controls">
                                            {{ PollForm.PL_BODY }}
                                            <p id="body-counter" class="text-right"></p>
                                        </div>
                                    </div>
                                    <!--<div class="form-group">
                                        <label class="control-label control-label-left col-sm-3" for="field2"><b>Start Date</b></label>
                                        <div class="form-row">
                                            <div class=" col-md-8 controls" id="startDt" >
                                                {{ PollForm.PL_STARTDT }} 
                                            </div>
                                            <div class="col-md-4">
                                                <div class="input-group">
                                                    {{ PollForm.PL_STIME }}
                                                    <input type="text" id="sinput" class="form-control">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-outline-secondary" type="button" id="shour">Select</button>    
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label control-label-left col-sm-3" for="field2"><b>End Date</b></label>
                                        <div class="form-row">
                                            <div class=" col-md-8 controls" id="startDt" >
                                                {{ PollForm.PL_ENDDT }} 
                                            </div>
                                            <div class="col-md-4">
                                                <div class="input-group">
                                                    {{ PollForm.PL_STIME }}
                                                    <input type="text" id="einput" class="form-control">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-outline-secondary" type="button" id="ehour">Select</button>    
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>-->
                                    <!--<div class="form-group">
                                        <label class="control-label control-label-left col-sm-3" for="field2"><b>Code</b></label>
                                        <div id="code" class="controls">
                                            {{ PollForm.PL_CODE }} 
                                        </div>
                                    </div>-->
									   <div class="form-group">
									       <label class="control-label control-label-left col-sm-3" for="field2"><b>Category</b></label>
                                            {{ PollForm.POLLCAT }}
                                        </div>
                                    <!--<label class="control-label control-label-left col-sm-3" for="field2"><b>Category</b></label>
                                    <div class="">  
                                        <div class="poll-form px-3 pb-3" id="categories" ></div>
                                    </div>-->
                                    <hr />
                                    <div class="form-group">
                                        <!--<div class="row">
                                            <div class="col-6">
                                                <label class="control-label control-label-left float-left mx-3"><b>Voting Choices</b></label>
                                            </div>
                                            <div class="col-6"|>
                                                <button id="add" type="button" class="btn btn-outline-info float-right" onclick="addOption()"><b>+</b></button>
                                            </div>
                                        </div>-->
                                        {{ PollChoiceFormSet.management_form }}
											{% for form in PollChoiceFormSet %}
											<div class="row form-row spacer">
												<div class="col-4">
													<div class="input-group">
														{{ form.PC_CHOICE }}
														<div class="input-group-append">
															<button class="btn btn-success add-form-row">+</button>
														</div>
													</div>
												</div>
											</div>
											{% endfor %}
											
											
											
											
											
											
                                        <!--<div id="choice" class="controls mt-3">
                                            {{ PollChoiceFormSet }}
                                        </div>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group text-center mt-3">
                            <div class="form-group text-center">
                            <!--<button id="submit" type="submit" class="btn btn-success">Submit</button>-->
							      <button id="submit" type="submit" class="btn btn-success">Submit</button>
                                <button id="cancel" type="button" class="btn btn-danger" onclick="window.history.back()">Cancel</button>
                            
                            </div>
                        </div>
					  </form>
                </div>
            </div>
        </div>
        {% endblock %} 


{% block scripts %}
<script src="{% static "js/jquery-3.3.1.min.js"%}"></script>
<script src="{% static "js/jquery.formset.min.js"%}"></script>
<script src="{% static "js/bootstrap.bundle.min.js"%}"></script>
<script src="{% static "js/sidebar.js"%}"></script>
<script src="{% static "js/clockpicker.js"%}"></script>
<script src="{% static "js/taggle.js"%}"></script>
<script src="{% static "js/poll-edit.js"%}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        var title_max = 200;
        var short_body_max = 300;
        var body_max = 15000;

        $('#title-counter').html(title_max + ' characters remaining');
        $('#short-body-counter').html(short_body_max + ' characters remaining');
        $('#body-counter').html(body_max + ' characters remaining');

        $('#title').keyup(function() {
            var title_text_length = $('input#title').val().length;
            var title_text_remaining = title_max - title_text_length;
            $('#title-counter').html(title_text_remaining + ' characters remaining');
        });

        $('#shortbody').keyup(function() {
            var short_text_length = $('textarea#shortbody').val().length;
            var short_text_remaining = short_body_max - short_text_length;
            $('#short-body-counter').html(short_text_remaining + ' characters remaining');
        });

        $('#body').keyup(function() {
            var text_length = $('textarea#body').val().length;
            var text_remaining = body_max - text_length;
            $('#body-counter').html(text_remaining + ' characters remaining');
        });
    });

    function updateElementIndex(el, prefix, ndx) {
        var id_regex = new RegExp('(' + prefix + '-\\d+)');
        var replacement = prefix + '-' + ndx;
        if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
        if (el.id) el.id = el.id.replace(id_regex, replacement);
        if (el.name) el.name = el.name.replace(id_regex, replacement);
    }

    function cloneMore(selector, prefix) {
        var newElement = $(selector).clone(true);
        var total = $('#id_' + prefix + '-TOTAL_FORMS').val();
        newElement.find(':input').each(function() {
            var name = $(this).attr('name')
            if(name) {
                name = name.replace('-' + (total-1) + '-', '-' + total + '-');
                var id = 'id_' + name;
                $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
            }
        });
        total++;
        $('#id_' + prefix + '-TOTAL_FORMS').val(total);
        $(selector).after(newElement);
        var conditionRow = $('.form-row:not(:last)');
        conditionRow.find('.btn.add-form-row')
        .removeClass('btn-success').addClass('btn-danger')
        .removeClass('add-form-row').addClass('remove-form-row')
        .html('-');
        return false;
    }

    function deleteForm(prefix, btn) {
        var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
        if (total > 1){
            btn.closest('.form-row').remove();
            var forms = $('.form-row');
            $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
            for (var i=0, formCount=forms.length; i<formCount; i++) {
                $(forms.get(i)).find(':input').each(function() {
                    updateElementIndex(this, prefix, i);
                });
            }
        }
        return false;
    }

    $(document).on('click', '.add-form-row', function(e){
        e.preventDefault();
        cloneMore('.form-row:last', 'form');
        return false;
    });

    $(document).on('click', '.remove-form-row', function(e){
        e.preventDefault();
        deleteForm('form', $(this));
        return false;
    });

</script>
{% endblock %}