{% load static %}
<!DOCTYPE html>
<html>
    <head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width,initial-scale=1">
          <title>Epitome</title>
          <link rel="stylesheet" href="{% static "css/app.min.css"%}" type="text/css">
    </head>
    <body>
        <div id="wrapper">
            <div id="sidebar-wrapper">
                <!-- Sidebar -->
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        <a class="btn btn-danger text-white" href="#" role="button">New Issue</a>
                    </li>
                    <li class="mt-3">
                        <a class="mdi mdi-account-box mdi-24px"href="#">Polls</a>
                    </li>
                    <li>
                        <a class="mdi mdi-account-location mdi-24px" href="#">Issues</a>
                    </li>
                    <li>
                        <a class="mdi mdi-account-multiple-plus mdi-24px" href="#">Proposals</a>
                    </li>
                    <li>
                        <a class="mdi mdi-account-search mdi-24px" href="#">Archive</a>
                    </li>
                </ul>            </div>

            
            <nav class="navbar navbar-expand navbar-dark bg-primary">
                <a class="navbar-brand float-left" href="#menu-toggle" id="menu-toggle">
                    <img class ="text-white" src="{% static "img/hbg.svg"%}" width="30" height="30" alt="a">
                </a>
                <ul class="navbar-nav w-100">
                  <li class="nav-item dropdown ml-auto">
                    <a class="nav-link dropdown-toggle mdi mdi-account-box" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="">Login </a>
                        <a class="dropdown-item" href="">Register</a>
                    </div>
                  </li>
                </ul>  
            </nav>
            <div id="page-content-wrapper">
                <div class="container">
                    <form action="../submit" id="formentry" class="poll-form" role="form" data-parsley-validate novalidate>
						{% csrf_token %}
                        <div class="container-fluid shadow">
                            <div class="row">            
                                <div class="col-md-12">
                                    <div class="form-group">
                                        {{ PollForm.PL_TITLE }}
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label control-label-left col-sm-3" for="field2">Voting Options</label>
                                        <div id="options" class="controls">
                                            {{ PollForm.PL_BODY }} 
                                        </div>
                                    </div>
                    
                                    <div class="form-group text-center">
                                        <div class="form-group text-center">
                                            <button id="submit" type="button" class="btn btn-default">Submit</button>
                                            <button id="cancel" type="button" class="btn btn-default">Cancel</button>
                                            <button id="add" type="button" class="btn btn-success" onclick="addOption()">Add Option</button>
                                            <button id="add" type="button" class="btn btn-success" onclick="removeOption()">Remove Option</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>                </div>
            </div>
        </div>
        <script src="{% static "js/app.min.js"%}"></script>          
        <script>
            $(function () {
                $('[data-toggle="popover"]').popover()
            })
            function addOption(){
                var group = document.getElementById("options");
                var content = document.createRange().createContextualFragment(`<input class="form-control mt-2" type="text">`)
                group.appendChild(content)
            }

            function removeOption(){
                var parent = document.getElementById('options');
                if (parent.hasChildNodes){
                    parent.removeChild(parent.lastChild);
                }else{
                    console.log("Nothing to remove")
                }
                
            }
        </script>
    </body>
</html>