{% extends '_base.html' %} 
{% load static %} 

{% block body %}
<div id="wrapper">

    {% include '_sidebar.html' %}

    {% include '_navbar.html' %}  
    
    {% if poll.PL_ENDDT > nowdt %}
    <form action="{% url 'Demoscopesis:vote' poll.id %}" method="post">
        <div id="page-content-wrapper">
            <div class="container mt-5">
                <div class="card mt-3">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 text-center text-sm-center text-md-left"><h5>Created by: {{ poll.USER }}</h5></div>
                            <div class="col-sm-12 col-md-6 text-center text-sm-center text-md-right"><h5>Created on: {{ poll.PL_STARTDT }}</h5></div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title">{{ poll.PL_TITLE }}</h1>
                        <p class="card-text">{{ poll.PL_BODY }}</p>
                    </div>
                    <div class="card-footer text-center">
                        {% csrf_token %} {% for choice in poll.PChoice.all %}
                        <button type="submit" name="choice" class="btn btn-outline-primary" value="{{ choice.id }}">{{ choice.PC_CHOICE }}</button>
                        {% endfor %}
                        <a class="btn btn-danger" href="/demoscopesis" role="button">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </form>

    {% else %}

    <div id="page-content-wrapper">
        <div class="container mt-5">
            <div class="card">
                <div class="card-header text-center">
                    <h4>Results</h4>
                </div>
                <div class="card-body" id="results-card" data-progress-max="{{ poll.total_votes }}">
                    {% for choice in poll.PChoice.all %}
                    <h4>{{ choice.PC_CHOICE }}</h4>
                    <div class="progress" data-progress-value="{{ choice.PC_VOTES }}">
                        <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax=""></div>
                    </div>
                    {% endfor %}
                </div>
                <div class="card-footer text-center">
                    <h4>Total number of voters:
                        <span class="text-danger">{{ poll.total_votes }}</span>
                    </h4>
                </div>
            </div>

            <div class="card mt-3">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 text-center text-sm-center text-md-left"><h5>Created by: {{ poll.USER }}</h5></div>
                        <div class="col-sm-12 col-md-6 text-center text-sm-center text-md-right"><h5>Created on: {{ poll.PL_STARTDT }}</h5></div>
                    </div>
                </div>
                <div class="card-body">
                    <h1 class="card-title">{{ poll.PL_TITLE }}</h1>
                    <p class="card-text">{{ poll.PL_BODY }}</p>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %} 

{% block scripts %}
<script src="{% static "js/jquery-3.3.1.min.js"%}"></script>
<script src="{% static "js/jquery.formset.min.js"%}"></script>
<script src="{% static "js/bootstrap.bundle.min.js"%}"></script>
<script src="{% static "js/sidebar.js"%}"></script>
<script>
    window.onload = voteResults();

     function voteResults(){
     if (document.getElementById("results-card") != null && document.getElementsByClassName("progress") != null ){
        var total = document.getElementById("results-card").dataset.progressMax;
        var votecount = document.getElementsByClassName("progress");
            for (var i = 0; i < votecount.length; i++) {
                res = ( votecount[i].dataset.progressValue / total ) * 100;
                votecount[i].firstElementChild.style.width= res + '%';
                votecount[i].firstElementChild.innerHTML = '<b>' + votecount[i].dataset.progressValue + '</b>';
            }
         }
    }
</script>
{% endblock %}
