{% load static %}
<!DOCTYPE html>
<html>
    <head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width,initial-scale=1">
          <title>Epitome</title>
          <link rel="stylesheet" href="{% static "css/app.min.css"%}" type="text/css">    
    </head>
    <body>
        <div id="wrapper">
            
            <div id="sidebar-wrapper">
                <!-- Sidebar -->
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        <a class="btn btn-danger text-white" role="button" href="/eisegesis/create/">New Poll</a>
                    </li>
                    <li class="mt-3">
                        <a class="mdi mdi-account-box mdi-24px"href="#">Polls</a>
                    </li>
                    <li>
                        <a class="mdi mdi-account-location mdi-24px" href="#">Issues</a>
                    </li>
                    <li>
                        <a class="mdi mdi-account-multiple-plus mdi-24px" href="#">Proposals</a>
                    </li>
                    <li>
                        <a class="mdi mdi-account-search mdi-24px" href="#">Archive</a>
                    </li>
                </ul>
            </div>

            
            <nav class="navbar navbar-expand navbar-dark bg-primary">
                <a class="navbar-brand float-left" href="#menu-toggle" id="menu-toggle">
                    <img class ="text-white" src="{% static "img/hbg.svg" %}" width="30" height="30" alt="">
                </a>
                <ul class="navbar-nav w-100">
                  <li class="nav-item dropdown ml-auto">
                    <a class="nav-link dropdown-toggle mdi mdi-account-box" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href=#>User </a>
                        <a class="dropdown-item" href="/user/logout">Logout</a>
                    </div>
                  </li>
                </ul>  
            </nav>
            <div id="page-content-wrapper">
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-success" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong><p>{{ message }}</p></strong>
                </div>
                {% endfor %}
                {% endif %}
                <div class="container">
                    {% if latest_poll_list %}
                        <div class="card-columns">
                            {% for poll in latest_poll_list %}
                            <a href="/eisegesis/{{ poll.id }}/">
                                <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">{{ poll.PL_TITLE }}</h5>
                                    <p class="text-dark">{{ poll.PL_SHRBODY }}</p>
                                    <p class="card-text"><small class="text-muted">Created by: {{ poll.USER }}</small></p>
                                </div>
                                </div>
                            </a> 
                        </div> 
                    {% endfor %}
                    {% else %}
                    <div class="container">
                        <div class="jumbotron">
                            <h1 class="display-3">No polls were found...</h1>
                            <p class="lead">No polls were submitted so far...</p>
                            <hr class="my-4">
                            <p>Try visiting another section or add a poll yourself.</p>
                            <p class="lead">
                                <a class="btn btn-primary btn-lg" href=# role="button">Add a poll</a>
                            </p>
                        </div>                
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    
         <script src="{% static "js/app.min.js"%}"></script>         <script>
            $(function () {
                $('[data-toggle="popover"]').popover()
            })
        </script>
    </body>
</html>