{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Epitome</title>
        <link rel="stylesheet" href="{% static "css/app.min.css"%}" type="text/css">
        </head>
    <body>
        <div id="wrapper">
            <div id="sidebar-wrapper">
                <!-- Sidebar -->
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        <a class="btn btn-danger text-white" href="#" role="button">New Issue</a>
                    </li>
                    <li class="mt-3">
                        <a class="mdi mdi-account-box mdi-24px"href="#">Polls</a>
                    </li>
                    <li>
                        <a class="mdi mdi-account-location mdi-24px" href="#">Issues</a>
                    </li>
                    <li>
                        <a class="mdi mdi-account-multiple-plus mdi-24px" href="#">Proposals</a>
                    </li>
                    <li>
                        <a class="mdi mdi-account-search mdi-24px" href="#">Archive</a>
                    </li>
                </ul>            </div>

            
            <nav class="navbar navbar-expand navbar-dark bg-primary">
                <a class="navbar-brand float-left" href="#menu-toggle" id="menu-toggle">
                    <img class ="text-white" src="{% static "img/hbg.svg"%}" width="30" height="30" alt="a">
                </a>
                <ul class="navbar-nav w-100">
                  <li class="nav-item dropdown ml-auto">
                    <a class="nav-link dropdown-toggle mdi mdi-account-box" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href=>Login </a>
                        <a class="dropdown-item" href=www.bing.com>Register</a>
                    </div>
                  </li>
                </ul>  
            </nav>
            <div id="page-content-wrapper">
                <div class="container">
                    <h1>{{ poll.PL_TITLE }}</h1>
                    <h4>Created by: {{ poll.USER }}</h4> 
                    <h6>Duration: {{ poll.PL_STARTDT }} - {{ poll.PL_ENDDT }}</h6>
                    <p>{{ poll.PL_BODY }}</p>
                    
                    <button type="button" class="btn btn-outline-primary">Voting option 1</button>
                    <button type="button" class="btn btn-outline-secondary">Voting option 2</button>
                    <button type="button" class="btn btn-outline-success">Voting option 3</button>                </div>
            </div>
        </div>

         <script src="{% static "js/app.min.js"%}"></script>         <script>
            $(function () {
                $('[data-toggle="popover"]').popover()
            })
        </script>
    </body>
</html>