{% load static %}
<!DOCTYPE html>
<html>
    <head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width,initial-scale=1">
          <title>Epitome</title>
          <link rel="stylesheet" href="{% static "css/app.min.css"%}" type="text/css">        
          <link href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css" rel="stylesheet">
    </head>
    <body>
        
        <nav class="navbar navbar-expand navbar-dark bg-primary">
            <div class="container">
                <a class="navbar-brand float-left" href="/eisegesis/">
                    <img class ="text-white" src="{% static "img/x.svg"%}" width="30" height="30" alt="a"></img>
                </a>
            </div>
        </nav>        
        <div style="background-color:#282830;">
            <!-- Container for the Charts -->
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-md-6">
                        <canvas id="chart-0" class="my-5"></canvas>
                    </div>
                </div>
            </div>
            <!-- The user profile bar and nav controls -->
            <div class="profile-bar bg-primary p-3">
                <div class="row">
                    <div class="col-lg-4 text-center" style="height:100px;">
                        <img src="{% static "img/user-sample.png"%}"  width="180" height="180" alt="" class="rounded-circle avatar"/>
                    </div>
                    <div class="col-lg-4 text-center mt-2">
                        <h1 class="text-white">{{ poll.USER }}</h1>
                    </div>
                    <div class="col-lg-4 text-center mt-5">
                        <ul class="nav nav-pills" id="pills-tab">
                            <li class="nav-item">
                                <a class="mdi mdi-heart mdi-36px text-danger nav-link" href="/"></a>
                            </li>
                            <li class="nav-item">
                                <a class="mdi mdi-file-find mdi-36px text-success nav-link active" id="pills-view-tab" data-toggle="pill" href="#pills-view" role="tab" aria-controls="pills-view" aria-selected="true"></a>
                            </li>
                            <li class="nav-item">
                                 <a class="mdi mdi-pencil mdi-36px text-warning nav-link" id="pills-edit-tab" data-toggle="pill" href="#pills-edit" role="tab" aria-controls="pills-edit" aria-selected="false"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>     
        </div>
        <!-- Content container. -->
        <div class="container">
            <input class="form-control" type="text" placeholder="Default input">{{ poll.PL_TITLE }}</input>
            <textarea id="mdeditor" rows="10">
                {{ poll.PL_BODY }}
            </textarea>

            <div class="alert alert-danger alert-dismissable" style="display: none;">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                No more than 8 options can be added. 
            </div>

            <div class="voting-selector">
                <div class="forms">
                    <div><input class="form-control" type="text" placeholder="Add another voting option here." name="option"></div>
                </div>
                <div class="text-center mt-2">
                    <a class="btn btn-primary text-center" href="#" role="button" onclick="getText()">Save</a>
                    <button class="btn btn-primary add-form">Add Voting Option</button>
                </div>
            </div>
        </div>

        <script src="{% static "js/app.min.js"%}"></script> 
        <script>
                var ctx = document.getElementById('chart-0').getContext('2d');
                var chart = new Chart(ctx, {
                    // The type of chart we want to create
                    type: 'line',
            
                    // The data for our dataset
                    data: {
                        labels: ["January", "February", "March", "April", "May", "June", "July"],
                        datasets: [{
                            label: "My First dataset",
                            backgroundColor: 'rgb(255, 99, 132)',
                            borderColor: 'rgb(255, 99, 132)',
                            data: [0, 10, 5, 2, 20, 30, 45],
                        }]
                    },
            
                    // Configuration options go here
                    options: {}
                });
            
                // Add aditional forms
                $(document).ready(function() {
                var maxFields      = 6;
                var wrapper         = $(".forms");
                var addField      = $(".add-form");
             
                    var x = 1;
                    $(addField).click(function(e){
                        e.preventDefault();
                        if(x < maxFields){
                            x++;
                            $(wrapper).append(
                                '<div><input class="form-control" type="text" placeholder="Default input" name="option"><a href="#" class="delete">Delete</a></div>'
                            );
                        }else{
                            $('.alert').show()
                        }
                    });
                
                    $(wrapper).on("click",".delete", function(e){
                        e.preventDefault(); $(this).parent('div').remove(); x--;
                    })
                });
            
                // Simple MDE Initialization
                var simpleMde = new SimpleMDE({
                    element: document.getElementById("mdeditor"),
                    spellChecker: false,
                });
            
                function getText(){
                    alert(simpleMde.value())
                }
            
            </script>
    </body>
</html>